# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
obj
moc_*
*.pro.user*
CarBudget
Makefile
rpm/CarBudget.spec
rpm/harbour-carbudget.spec

# Compiled translation files
*.qm

# Generated RPM packages
*.rpm

# Compiled binary
harbour-carbudget
