# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
obj
moc
*.pro.user*
CarBudget
Makefile
rpm/CarBudget.spec
rpm/harbour-carbudget.spec
